<div class="card">
    <div class="card-heater d-flex justify-content-between align-item-center">
<h2>{{image.title}}</h2>
<button class="btn btn-danger" id="btn-delete" data-id="{{image.uniqueId}}">
<i class="fa fa-times"></i> Delete 
</button>
    </div>
    <div class="card-body">
        <p>{{image.description}}</p>
        <div class="text-center">
            
        </div>
    
    </div>
</div>